<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Twój koszyk</title>
        <link rel="stylesheet" href="/styles/cart.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=health_metrics" />
    </head>
    <body>
        <!-- Link powrotny -->
        <div class="back-link">
            <a href="/" class="button-link">← Powrót do strony głównej</a>
        </div>

        <h1>Twój koszyk</h1>

        <% if (cart && cart.length > 0) { %>
        <ul>
            <% cart.forEach(product => { %>
            <li>
                <img src="<%= product.image %>" alt="<%= product.name %>"
                    class="product-image">
                <h3><%= product.name %></h3>
                <p><strong>Ilość:</strong> <%= product.quantity %></p>
                <p><strong>Cena:</strong> <%= product.price %> zł</p>

                <!-- Formularz do aktualizacji ilości -->
                <form action="/cart/update-quantity" method="POST">
                    <input type="hidden" name="id" value="<%= product.id %>">
                    <input
                        type="number"
                        name="quantityToBuy"
                        value="<%= product.quantityToBuy %>"
                        min="1"
                        max="<%= product.quantity %>"
                        required>
                    <button type="submit">Zaktualizuj ilość</button>
                </form>

                <!-- Formularz do usunięcia produktu -->
                <form action="/cart/remove-product" method="POST">
                    <input type="hidden" name="id" value="<%= product.id %>">
                    <button type="submit">Usuń</button>
                </form>
            </li>
            <% }); %>
        </ul>

        <p><strong>Łączna kwota: </strong><%= total %> zł</p>

        <form action="/cart/cancel-cart" method="POST">
            <button type="submit">Anuluj koszyk</button>
        </form>

        <form action="/cart/finalize-order" method="POST">
            <button type="submit">Finalizuj zamówienie</button>
        </form>
        <% } else { %>
        <p>Twój koszyk jest pusty.</p>
        <% } %>
    </body>
</html>