<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title><%= product.name %></title>
        <link rel="stylesheet" href="/styles/details.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap"
            rel="stylesheet">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    </head>
    <body>
        <!-- Nagłówek z nazwą sklepu i menu -->
        <header>
            <div class="header-container">
                <h1 class="logo">
                    <span class="material-symbols-outlined"
                        style="font-size: 58px;">health_metrics</span>
                    <span class="dos">DOS</span><span class="pl">.PL</span>
                </h1>
            </div>
        </header>

        <!-- Link powrotny -->
        <div class="back-link">
            <a href="/" class="button-link">← Back to Main Page</a>
        </div>

        <main class="product-container">
            <!-- Obrazek produktu -->
            <img src="<%= product.image %>" alt="<%= product.name %>">

            <div class="product-info">
                <h1><%= product.name %></h1>

                <p><strong>Price:</strong> <%= Number(product.price).toFixed(2)
                    %>zł</p>
                <p><strong>Stock:</strong> <%= product.quantity %></p>
                <div class="description-container">
                    <p class="desc-header"><strong>Description:</strong></p>
                    <p><%= product.description %></p>
                </div>

                <div class="ingredients-container">
                    <p class="desc-header"><strong>Ingredients:</strong></p>
                    <p><%= product.ingredients %></p>
                </div>
            </div>
        </main>

        <footer>
            <p>Designed by</p>
            <p><b>Hanna Kerebińska</b></p>
        </footer>
    </body>
</html>

<script>
    // Zapisz scroll przed przeładowaniem
    window.addEventListener('beforeunload', () => {
        localStorage.setItem('scrollPosition', window.scrollY);
    });

    // Przywróć scroll po załadowaniu
    window.addEventListener('load', () => {
        const scrollY = localStorage.getItem('scrollPosition');
        if (scrollY !== null) {
            window.scrollTo(0, parseInt(scrollY));
            localStorage.removeItem('scrollPosition'); // opcjonalnie czyści
        }
    });
</script>
