<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title><%= product.name %></title>
        <link rel="stylesheet" href="/styles/details.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap"
            rel="stylesheet">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    </head>
    <body>
        <!-- Nagłówek z nazwą sklepu i menu -->
        <header>
            <div class="header-container">
                <h1 class="logo">
                    <span class="material-symbols-outlined"
                        style="font-size: 58px;">health_metrics</span>
                    <span class="dos">DOS</span><span class="pl">.PL</span>
                </h1>
            </div>
        </header>
        <h1><%= product.name %></h1>

        <!-- Obrazek produktu -->
        <img src="<%= product.image %>" alt="<%= product.name %>"
            style="max-width:300px; height:auto;">

        <p><strong>Opis:</strong> <%= product.description %></p>
        <p><strong>Składniki:</strong> <%= product.ingredients %></p>
        <p><strong>Ilość:</strong> <%= product.quantity %></p>
        <p><strong>Cena:</strong> <%= Number(product.price).toFixed(2) %> zł</p>
        <footer>
            <p>Designed by</p>
            <p><b>Hanna Kerebińska</b></p>
        </footer>
    </body>
</html>
