<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DOS.pl</title>
        <link rel="stylesheet" href="/styles/index.css" />
    </head>
    <body>
        <!-- Nagłówek z nazwą sklepu i menu -->
        <header>
            <div class="header-container">
                <h1>DOS.PL</h1>
                <nav>
                    <a href="/cart">Go to Cart</a>
                </nav>
            </div>
        </header>

        <!-- Sekcja produktów -->
        <section class="products">
            <% if (message) { %>
            <div class="message"><%= message %></div>
            <% } %>

            <ul class="product-list">
                <% products.forEach(product => { %>
                <li class="product-card <%= product.quantity === 0 ? 'out-of-stock' : '' %>">
                    <a href="/product/<%= product.id %>">
                        <img src="<%= product.image %>" alt="<%= product.name %>" class="product-image" />
                    </a>
                    <div class="product-details">
                        <a href="/product/<%= product.id %>" >
                            <h3><%= product.name %></h3>
                         </a>
                        <p><%= product.description %></p>
                        <p class="product-price">Price: <strong><%=
                                product.price.toFixed(2) %> PLN</strong></p>

                        <form method="POST" action="/cart/add-to-cart"
                            class="add-to-cart-form">
                            <input type="hidden" name="id"
                                value="<%= product.id %>" />

                            <label
                                for="quantity-<%= product.id %>">Quantity:</label>
                            <input
                                type="number"
                                id="quantity-<%= product.id %>"
                                name="quantity"
                                min="1"
                                max="<%= product.quantity %>"
                                value="1"
                                required
                                <%=product.quantity === 0 ? 'disabled' : '' %>
                            />

                            <button type="submit" class="add-to-cart-button"
                                <%=product.quantity === 0 ? 'disabled' : ''
                                %>>Add to Cart</button>
                        </form>
                    </div>
                </li>
                <% }); %>
            </ul>
        </section>
    </body>
</html>